#### Import Dependencies

In [2]:
import numpy as np
import pandas as pd

import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt

#### Importing and inspecting the Dataset

We will be using the [sentiment140 dataset](https://www.kaggle.com/datasets/kazanova/sentiment140). it contains 1.6 tweets extracted using the Twitter API. The tweets have been annotated (0=Negative and 4=Positive) which we will use to detect sentiment.

In [7]:
# importing the dataset
DATASET_COLUMNS =["sentiment", "ids", "date", "flag", "user" ]
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv('./Data/training.1600000.processed.noemoticon.csv', encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
df.head()

,sentiment,ids,date,flag,user
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
sentiment,1600000.0,1.998818e+09,1.935761e+08,1.467810e+09,1.956916e+09,2.002102e+09,2.177059e+09,2.329206e+09

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600000 entries, 0 to 4
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   sentiment  1600000 non-null  int64
 1   ids        1600000 non-null  object
 2   date       1600000 non-null  object
 3   flag       1600000 non-null  object
 4   user       1600000 non-null  object
dtypes: int64(1), object(4)
memory usage: 73.2+ MB